#MainGrid
{
    height: 100%;
    position: relative;
    container-type: size;
}

.OnClickTransition
{
    transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
}

#ServerWasmIndicator
{
    bottom: 0;
    right: 0;
}
